@import "Assets/Styles/custom.scss";

.btn {
  width: 121px;
  height: 44px;
  padding: 10px, 24px, 10px, 24px;
  border-radius: 4px;
  font-size: 0.875rem;
  &.btn-primary {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &.btn-outline-primary {
    border-color: transparent;
    color: $primary;
    &:hover {
      color: $primary;
      background-color: $white;
      border-color: transparent;
    }
  }
}
