@import "../../../Assets/Styles/custom.scss",
  "../../../Assets/Styles/helpers.scss";

.s-seo-section {
  position: relative;
  .container {
    margin: 6rem 0;
    padding: 10rem;
    @media (max-width: 991.98px) {
      margin-top: 5rem;
      padding: 0 2rem;
    }
  }

  .button-container {
    margin-top: 20px;
  }
  .left-container {
    background-color: aliceblue;
  }
  .chart-ilustration {
    position: absolute;
    top: 22rem;
    z-index: 1;
  }
  .person-ilustration {
    position: absolute;
    top: 6rem;
    z-index: 2;
  }
}
